.product-container {
  color: black;
  max-width: 300px;
  margin: 1rem;
  height: auto;
}

.img-container > img {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 2rem;
}

.img-side {
  width: auto;
}

.price {
  background-color: black;
  color: white;
  font-size: 2.6rem;
  font-weight: 500;
  padding: 0.4rem;
}

.category {
  font-size: 1.1rem;
  padding: 1.5rem 1rem;
}

.description {
  font-size: 1.4rem;
}