.main-nav {
  background-color: black;
  color: white;
  font-size: 1.6rem;
  margin-bottom: 300px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

nav {
  display: flex;
}

li {
  color: white;
  text-decoration: none;
  list-style: none;
  margin: 2rem 2rem;
}